/* Coloration syntaxique */
@import 'prism-highlight.css';

/* Polices */
@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 200;
  font-style: normal;
  src: url('../fonts/source-serif-pro/SourceSerifPro-ExtraLight.otf.woff2') format('woff2');
  font-display: swap;
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 200;
  font-style: italic;
  src: url('../fonts/source-serif-pro/SourceSerifPro-ExtraLightIt.otf.woff2') format('woff2');
  font-display: swap;
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/source-serif-pro/SourceSerifPro-Light.otf.woff2') format('woff2');
  font-display: swap;
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/source-serif-pro/SourceSerifPro-LightIt.otf.woff2') format('woff2');
  font-display: swap;
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/source-serif-pro/SourceSerifPro-Regular.otf.woff2') format('woff2');
  font-display: swap;
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/source-serif-pro/SourceSerifPro-It.otf.woff2') format('woff2');
  font-display: swap;
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/source-serif-pro/SourceSerifPro-Semibold.otf.woff2') format('woff2');
  font-display: swap;
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 600;
  font-style: italic;
  src: url('../fonts/source-serif-pro/SourceSerifPro-SemiboldIt.otf.woff2') format('woff2');
  font-display: swap;
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/source-serif-pro/SourceSerifPro-Bold.otf.woff2') format('woff2');
  font-display: swap;
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/source-serif-pro/SourceSerifPro-BoldIt.otf.woff2') format('woff2');
  font-display: swap;
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/source-serif-pro/SourceSerifPro-Black.otf.woff2') format('woff2');
  font-display: swap;
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 900;
  font-style: italic;
  src: url('../fonts/source-serif-pro/SourceSerifPro-BlackIt.otf.woff2') format('woff2');
  font-display: swap;
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Surcharge de la taille de police de base */
:root {
  font-size: 1.1em;
}

/* Transitions entre les pages */
@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

/* Ajouts à Tailwind */
.list-dashed > li {
  list-style-type: none;
  position: relative;
  margin-left: 1.2em;
}

.list-dashed > li::before {
  content: '–';
  position: absolute;
  margin-left: -1.2em;
}
