<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {%- if full_title %}
      <title>{{ full_title }}</title>
    {%- else -%}
      <title>{{ title }} — Yannicka</title>
    {%- endif -%}

    {% if short_description %}
      <meta property="description" content="{{ short_description }}">
    {% endif %}

    <link rel="stylesheet" href="{{ '/assets/style.css' | url }}">

    <link rel="shortcut icon"
          href="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%3E%3Ctext%20y%3D%22.9em%22%20font-size%3D%2290%22%3E%F0%9F%90%A7%3C%2Ftext%3E%3C%2Fsvg%3E"
          type="image/svg+xml">

   <link rel="alternate"
         type="application/rss+xml"
         title="Yannicka - Journal"
         href="{{ '/feed.xml' | url }}">

    <meta property="og:site_name" content="Yannicka">
  
    {%- if full_title %}
      <meta property="og:title" content="{{ full_title }}">
    {%- else -%}
      <meta property="og:title" content="{{ title }} — Yannicka">
    {%- endif -%}

    {% if short_description %}
      <meta property="og:description" content="{{ short_description }}">
    {% endif %}

    <script src="{{ '/assets/main.js' | url }}" async defer></script>
  </head>

  <body class="bg-stone-50 text-gray-800 font-source-serif-pro dark:bg-gray-800 dark:text-gray-100">
    <div class="fixed z-50 top-4 left-4">
      <a href="#content" class="block bg-white text-black border-2 border-black sr-only focus-visible:not-sr-only" aria-label="Aller au contenu principal">
        <span class="block px-6 py-4">
          Aller au contenu principal
        </span>
      </a>
    </div>

    <header role="banner" class="js-header sticky top-0 bg-stone-50/70 dark:bg-gray-800/80 backdrop-blur-lg">
      <div class="max-w-3xl mx-auto border-b border-stone-200 dark:border-gray-700 lg:rounded-lg">
        <div class="flex items-center px-2">
          <a href="{{ '/' | url }}" class="relative inline-flex overflow-hidden items-center group w-max px-2 py-0.5 mr-2 text-xl font-bold hover:underline" title="Page d'accueil">
            <span class="absolute left-0 w-6 h-12 duration-700 -translate-x-10 rotate-[20deg] group-hover:translate-x-36 bg-black"></span>
            Yannicka
          </a>

          <nav class="hidden sm:flex" role="navigation">
            {% for item in menu %}
              <a href="{{ item.path | url }}" class="inline-block p-4 {% if item.path in page.url %}underline{% endif %} hover:underline">
                {{ item.name }}
              </a>
            {% endfor %}
          </nav>

          <div class="hidden ml-auto mr-3 sm:block">
            <label for="search-desktop" class="sr-only">Rechercher</label>

            <input type="text"
                   name="search"
                   id="search-desktop"
                   class="input-search px-2 py-1 bg-white/70 border border-gray-300/70 dark:bg-gray-700/70 dark:border-gray-500/70"
                   placeholder="Rechercher..."
                   size="16">
          </div>

          <div class="sm:hidden ml-auto">
            <button class="js-mobile-menu-open-button group flex px-5 py-4">
              <span class="align-middle mr-2" aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
              </span>
              <span class="align-middle group-hover:underline">Menu</span>
            </button>
          </div>
        </div>
      </div>
    </header>

    <div class="js-mobile-menu fixed z-40 top-0 left-0 right-0 bg-white dark:bg-gray-900 border-b-2 border-black dark:border-gray-700" style="display: none;">
      <div class="flex items-center px-2">
        <a href="{{ '/' | url }}" class="w-max px-2 py-0.5 text-xl font-bold hover:underline" title="Page d'accueil">
          Yannicka
        </a>

        <div class="col-span-2 ml-auto">
          <button class="js-mobile-menu-close-button group flex px-5 py-4">
            <span class="inline-block mr-1">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </span>
            <span class="align-middle group-hover:underline">Fermer le menu</span>
          </button>
        </div>
      </div>

      <nav role="navigation">
        {% for item in menu %}
          <a href="{{ item.path | url }}" class="block p-4 hover:underline hover:bg-gray-100 dark:hover:bg-gray-800">
            {{ item.name }}
          </a>
        {% endfor %}
      </nav>

      <div class="block px-4 py-2">
        <label for="search-mobile" class="sr-only">Rechercher</label>

        <input type="text"
               name="search"
               id="search-mobile"
               class="input-search px-2 py-1 bg-white/70 border border-gray-300/70 w-full dark:bg-gray-700/70 dark:border-gray-500/70"
               placeholder="Rechercher...">
      </div>
    </div>

    <div class="max-w-3xl mx-auto p-4">
      <section id="js-search-results"></section>
    </div>

    <main class="max-w-3xl mx-auto p-4" id="content">
      {{ content | safe }}
    </main>

    <footer class="max-w-3xl mx-auto px-4 py-8 text-center">
      <ul class="flex flex-col gap-2 justify-center sm:flex-row">
        <li>
          Yannicka
        </li>

        <li aria-hidden="true" class="hidden sm:block">
          ·
        </li>

        <li>
          2013 - 2023
        </li>

        <li aria-hidden="true" class="hidden sm:block">
          ·
        </li>

        <li>
          <a href="{{ '/mentions-legales/' | url }}" class="underline">Mentions légales</a>
        </li>

        <li aria-hidden="true" class="hidden sm:block">
          ·
        </li>

        <li>
          <a href="{{ '/a-propos/' | url }}" class="underline">À propos</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
