---
layout: base.njk
---

<article style="view-transition-name: card-{{ title|slugify }};">
  <header>
    <h1 class="text-center text-6xl lg:text-left">
      {{ title }}
    </h1>
  </header>

  <section>
    <ul class="flex flex-wrap gap-4 py-4 text-center text-sm justify-center lg:justify-start">
      <li>
        Publié en {{ publish_month | format_month }}
      </li>

      <li>
        Licence {{ license }}
      </li>

      {% if google_play_url %}
        <li>
          <a href="{{ google_play_url }}" class="underline">
            Voir sur Google Play
          </a>
        </li>
      {% endif %}

      {% if source_code_url %}
        <li>
          <a href="{{ source_code_url }}" class="underline">
            Accéder au code source
          </a>
        </li>
      {% endif %}
    </ul>
  </section>

  <section class="prose max-w-none dark:prose-invert">
    {{ content | safe }}
  </section>
</article>
