<article style="view-transition-name: card-{{ card.title|slugify }};">
  <a href="{{- card.url -}}" class="block h-full p-3 border border-b-4 border-stone-300 dark:border-gray-700 rounded-lg transition hover:bg-stone-200 dark:hover:bg-gray-900 hover:translate-y-1">
    <header>
      <h3 class="text-lg font-bold leading-6 underline decoration-2 decoration-stone-300 underline-offset-2 dark:decoration-gray-700">
        {{- card.title -}}
      </h3>

      {%- if card.type in ['article', 'journal', 'project'] -%}
        <p class="text-xs text-gray-700 dark:text-gray-300">
          {%- if card.type === 'article' -%}
            {%- if card.updated_at -%}
              mis à jour le <time datetime="{{ card.updated_at | format_date_iso -}}">{{ card.updated_at | format_date -}}</time>
            {%- elif card.created_at -%}
              mis à jour le <time datetime="{{ card.created_at | format_date_iso -}}">{{ card.created_at | format_date -}}</time>
            {%- endif -%}
          {%- elif card.type === 'journal' -%}
            <time datetime="{{ card.created_at | format_date_iso -}}">{{- card.created_at | format_date -}}</time>
          {%- elif card.type === 'project' -%}
            Publié en {{ card.publish_month | format_month -}}
          {%- endif -%}
        </p>
      {%- endif -%}
    </header>

    {%- if card.short_description -%}
      <p class="mt-1">
        {{- card.short_description -}}
      </p>
    {%- endif -%}
  </a>
</article>
