---
layout: base.njk
title: À propos
---

<div class="prose max-w-none dark:prose-invert">

{% markdown %}

# À propos

Je me prénomme Yannick.

Vous trouverez ici divers articles traitants de divers sujets concernant
notamment le web ainsi que divers autres sujets liés à l'informatique en
général.

Afin de peut-être mieux comprendre mes explications, voici un peu qui je suis :

- Je travaille depuis 2014 dans une agence web en tant que développeur web
  PHP ;

- Je suis mené à travailler régulièrement sur des projets PrestaShop, un peu
  WordPress, et de plus en plus Symfony ;

- Je suis très attaché au logiciel libre ;

- J'aime le minimalisme, la simplicité, et que les choses soient structurées ;

- Je n'aime pas le modèle publicitaire tel qu'il est actuellement ;

- Je suis un fervent défenseur des libertés individuelles et contre toute forme
  de traçage ;

- J'aime découvrir de nouveaux outils ;

- J'aime partager mes connaissances ;

- J'essaye d'appliquer au mieux les règles typographiques française, et j'évite
  au maximum les anglicismes.

Vous pouvez me contacter via l'ouverture d'un ticket GitLab sur le dépôt du
site : [accéder au dépôt du site](https://gitlab.com/yannicka/yannicka.fr-v2).

## Autres pages

- [Dessins]({{ '/dessins/' | url }})
- [Films]({{ '/films/' | url }})
- [Peinture sur impression 3D]({{ '/peinture-impression-3d/' | url }})

## Rétrospectives

- [2023]({{ '/retrospectives/2023/' | url }})

## « Dégafamisation »

- J'utilise Reddit et Messenger comme outil propriétaire.

- En complément de Twitter, j'utilise Mastodon (outil du fédiverse).

- J'ai remplacé Gmail par ProtonMail en mars 2016. La migration s'est faite sans
  aucun souci, en redirigeant les courriels de Gmail automatiquement vers
  ProtonMail et en utilisant peu à peu ma nouvelle adresse un peu partout. En
  mai 2020 je reçois encore des courriels sur ma boite Gmail, mais cela m'est
  totalement transparent (puisqu'ils me sont transmis automatiquement sur
  ProtonMail).

- En moteur de recherche, j'utilise encore beaucoup Google mais tout de même
  aussi pas mal DuckDuckGo.

- J'utilise encore YouTube car les contenus vidéos qui m'intéressent sont
  là-bas.

- Je n'utilise pas Facebook, Instagram, WhatsApp, Snapchat, TikTok, etc.

- Comme système d'exploitation, j'utilise Ubuntu ou Debian.

## Rétrospectives

{% endmarkdown %}

</div>
